@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --m-white: #fff;
  --m-black: #000;
  --m-gray: #343538;
  --m-blue: #2565F4;
  --m-purple: #30104C;
  --m-background: #FCFAFF;

  --l-purple: #ECDBFB;
  --l-gray: #E5E5E5;
  --h-blue: #2f59b3;
  --s-background: #F9F4FF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  color: var(--m-gray);
  background-color: var(--m-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-size: 1.6rem;
  line-height: 1.6;
  font-family:
    'Poppins',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}